@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgba(128, 128, 128, 0.103);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 3rem;
  color: blue;
            font-family: 'Times New Roman', Times, serif;
}

p{
  color: brown;
}

p,
a {
  font-size: 2rem;
}

/* Tailwind */
.width {
  width: min(100% - 4rem, 1024px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.full-width {
  width: min(100%, 100%);
}
/* End of Tailwind */

/* Header */
header {
  background: orange;
}

body {
  font-family:system-ui;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-inline:auto;
}

.navbar {
  background-color: #9cb117;
  padding: 10px;
  border-bottom: 1px solid #0e0000;
  text-align: center;
}
.navbar a {
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
.navbar a:hover {
  color: #555;
}

img{
max-width: 100%;
display: block;
}
.box{
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 4rem;
  text-align: center;
  grid-template-rows: subgrid;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  gap: 0 2rem;
}

.nav-link > a {
  color: white;
}

.nav-link:hover > a {
  color: aqua;
}

.logo {
  width: 80px;
}

.title {
  margin-block: 3rem;
}

.text-box{
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5rem;
  text-align: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/4;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  margin-top: 5rem;
}
.buy-button {
  display: inline-block;
  background-color: #2c9cff;
  color: white;
  padding: 2px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

/* End of Product */
